[user]
	email = m.sentenac@gmail.com
	name = Marwan SENTENAC
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
  ignorecase = false
